# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=calendar_user
POSTGRES_PASSWORD=calendar_password
POSTGRES_DB=financial_calendar

# Finnhub (EN events). Register at https://finnhub.io
FINNHUB_API_KEY=TODO

# bbs-go integration (filled in later when bbs-go exposes an API)
BBSGO_BASE_URL=http://localhost:8082
BBSGO_API_TOKEN=
